/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  
   
  }
  
  .modal-content {
    
    background-image: linear-gradient(to bottom right,  $colo-primary, $colo-secundary);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #000;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }

  .modal_content-partes{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    border: 2px solid red;
  }

  .ingredienteModal{
    width: 40%;
    height: auto;
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 15px;
  }
  
