.formNuevasRecetas{
    margin: 15px;
    width: 1000px;
    height: 400px;
    #pasosReceta{
        border-radius: 25px;
        padding: 10px;
        width: 90%;
        height: 90%;
        vertical-align: top;
        resize: none;
    }
}